a, body, div, header, html, img, li, ul{ margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; font: inherit; font-size: 100%; vertical-align: baseline; }
html{ line-height: 1; }
 ul{ list-style-type: none; list-style-position: initial; list-style-image: initial; }




a img{ border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; }
 header{ display: block; }
html{ font-family: 'Open Sans', helvetica, arial, sans-serif; }


















 ul{ margin-bottom: 1.5em; }





 button{ font-family: 'Open Sans', helvetica, arial, sans-serif; text-rendering: optimizelegibility; margin-bottom: 0.35em; font-size: 1em; display: block; line-height: 1.6; padding-top: 1em; padding-right: 0.5em; padding-bottom: 1em; padding-left: 0.5em; background-color: rgb(56, 53, 103); width: 100%; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-width: initial; border-color: initial; color: rgb(255, 255, 255); text-transform: uppercase; text-align: center; font-weight: 400; }



@media (min-width: 50em){
 button{ width: 50%; padding-top: 1em; padding-right: 1em; padding-bottom: 1em; padding-left: 1em; }
}
*{ box-sizing: border-box; }
body{ font-size: 100%; line-height: 1.5; }
a{ color: rgb(56, 53, 103); text-decoration: none; }
li{ margin-bottom: 0.75em; }

.wrapper{ margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }
@media (min-width: 50em){
.header{ min-height: 120px; }
}
.logo{ width: 10em; margin-top: 1em; margin-right: auto; margin-bottom: 1em; margin-left: auto; display: block; }


.navigation-main li{ margin-bottom: 0px; }
@media (min-width: 50em){
.navigation-main li{ float: left; width: 16.6666667%; }
}
.navigation-main a{ color: rgb(255, 255, 255); background-color: rgb(123, 119, 160); text-align: center; display: block; line-height: 1.6em; padding-top: 1em; padding-right: 0px; padding-bottom: 1em; padding-left: 0px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: initial; text-transform: uppercase; }
@media (min-width: 50em){
.navigation-main a{ font-size: 0.875em; color: rgb(255, 255, 255); border-bottom-style: none; border-bottom-width: initial; border-bottom-color: initial; }
}








@media (min-width: 50em){
.search button{ display: none; }
}


















































































