/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/_typography.scss */
html {
  font-family: "Open Sans", helvetica, arial, sans-serif; }

/* line 71, ../sass/_typography.scss */
h1 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 3.5em; }
  /* line 36, ../sass/_typography.scss */
  h1 a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    h1 a:hover, h1 a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }

/* line 75, ../sass/_typography.scss */
h2 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 2em; }
  /* line 36, ../sass/_typography.scss */
  h2 a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    h2 a:hover, h2 a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }

/* line 79, ../sass/_typography.scss */
h3 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 1.444em; }
  /* line 36, ../sass/_typography.scss */
  h3 a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    h3 a:hover, h3 a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }

/* line 83, ../sass/_typography.scss */
h4 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 1.222em; }
  /* line 36, ../sass/_typography.scss */
  h4 a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    h4 a:hover, h4 a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }

/* line 87, ../sass/_typography.scss */
h5 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 1.15em; }
  /* line 36, ../sass/_typography.scss */
  h5 a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    h5 a:hover, h5 a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }

/* line 91, ../sass/_typography.scss */
h6 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 1em; }
  /* line 36, ../sass/_typography.scss */
  h6 a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    h6 a:hover, h6 a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }

/* line 96, ../sass/_typography.scss */
p, ul, ol, blockquote, iframe, dl {
  margin-bottom: 1.5em; }

/*
@mixin link {
  color: $link-color;
  text-decoration: none;

  &:hover, &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
}

@mixin link-reverse {
  color: $background-color-subtle; 
  &:hover, &:focus {
    color: $background-color;
    text-decoration: none;
  }
}


*/
/* line 1, ../sass/_grid.scss */
.grid-1-2 {
  width: 100%; }
  @media (min-width: 50em) {
    /* line 1, ../sass/_grid.scss */
    .grid-1-2 {
      width: 50%;
      float: left; }
      /* line 6, ../sass/_grid.scss */
      .grid-1-2:nth-child(2n+1) {
        clear: left; } }

/* line 12, ../sass/_grid.scss */
.grid-1-4 {
  width: 100%; }
  @media (min-width: 50em) {
    /* line 12, ../sass/_grid.scss */
    .grid-1-4 {
      width: 25%; } }

/* line 19, ../sass/_grid.scss */
.grid-1-3 {
  width: 100%; }
  @media (min-width: 50em) {
    /* line 19, ../sass/_grid.scss */
    .grid-1-3 {
      width: 33%; } }

/* line 6, ../sass/_forms.scss */
input {
  width: 100%;
  padding: 0.5em 0;
  border: none;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #383567;
  margin: 0.25em 0; }

/* line 16, ../sass/_forms.scss */
button, .button {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 1em;
  display: block;
  line-height: 1.6;
  padding: 1em 0.5em;
  background-color: #383567;
  width: 100%;
  border: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400; }
  /* line 36, ../sass/_typography.scss */
  button a, .button a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    button a:hover, button a:focus, .button a:hover, .button a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }
  /* line 28, ../sass/_forms.scss */
  button:hover, button:active, button:focus, .button:hover, .button:active, .button:focus {
    background-color: #7b77a0; }
  @media (min-width: 50em) {
    /* line 16, ../sass/_forms.scss */
    button, .button {
      width: 50%;
      padding: 1em 1em; } }

/* line 12, ../sass/screen.scss */
* {
  box-sizing: border-box; }

/* line 14, ../sass/screen.scss */
body {
  font-size: 100%;
  line-height: 1.5; }

/* line 19, ../sass/screen.scss */
a {
  color: #383567;
  text-decoration: none; }

/* line 24, ../sass/screen.scss */
li {
  margin-bottom: 0.75em; }

/* line 29, ../sass/screen.scss */
.visibility-hidden {
  visibility: hidden;
  line-height: 0;
  margin: 0; }

/* line 35, ../sass/screen.scss */
.wrapper {
  margin: 0 auto; }

@media (min-width: 50em) {
  /* line 38, ../sass/screen.scss */
  .header {
    min-height: 120px; } }

/* line 43, ../sass/screen.scss */
.logo {
  width: 10em;
  margin: 1em auto;
  display: block; }

/* line 50, ../sass/screen.scss */
.navigation-main {
  background-color: #7b77a0; }
  @media (min-width: 50em) {
    /* line 50, ../sass/screen.scss */
    .navigation-main {
      margin: 0 10%;
      position: relative;
      top: -2em; } }
  /* line 58, ../sass/screen.scss */
  .navigation-main li {
    margin-bottom: 0; }
    @media (min-width: 50em) {
      /* line 58, ../sass/screen.scss */
      .navigation-main li {
        float: left;
        width: 16.6666667%; } }
  /* line 65, ../sass/screen.scss */
  .navigation-main a {
    color: white;
    background-color: #7b77a0;
    text-align: center;
    display: block;
    line-height: 1.6em;
    padding: 1em 0;
    border-bottom: 1px solid;
    text-transform: uppercase; }
    @media (min-width: 50em) {
      /* line 65, ../sass/screen.scss */
      .navigation-main a {
        font-size: 0.875em;
        color: #fff;
        border-bottom: none; } }
    /* line 79, ../sass/screen.scss */
    .navigation-main a:hover, .navigation-main a:active, .navigation-main a:focus {
      background-color: #383567; }

/* line 85, ../sass/screen.scss */
.targeted-content, .feature-services {
  padding: 0 10%; }

@media (min-width: 50em) {
  /* line 89, ../sass/screen.scss */
  .targeted-content {
    min-height: 245px;
    background: url("/images/background.jpg") no-repeat center center;
    background-size: cover; } }

/* line 97, ../sass/screen.scss */
section, footer {
  padding: 1em 1em; }
  @media (min-width: 50em) {
    /* line 97, ../sass/screen.scss */
    section, footer {
      padding: 2em; } }

@media (min-width: 50em) {
  /* line 106, ../sass/screen.scss */
  .home-boxed-layout section:nth-child(2n+1) {
    clear: left; }
  /* line 109, ../sass/screen.scss */
  .home-boxed-layout section:nth-child(odd) {
    padding-left: 10%; }
  /* line 110, ../sass/screen.scss */
  .home-boxed-layout section:nth-child(even) {
    padding-right: 10%; } }

/* line 3, ../sass/_search.scss */
.search {
  padding: 0 0.5em; }
  @media (min-width: 50em) {
    /* line 5, ../sass/_search.scss */
    .search input {
      border: none; } }
  @media (min-width: 50em) {
    /* line 11, ../sass/_search.scss */
    .search button {
      display: none; } }

/* line 18, ../sass/_search.scss */
.search--input {
  background-repeat: no-repeat; }
  @media (min-width: 50em) {
    /* line 18, ../sass/_search.scss */
    .search--input {
      background-image: url("/svg/magnifying-glass-lg.svg");
      background-position: 90%;
      background-size: 2em; } }

/* line 31, ../sass/_search.scss */
.inner .search, .inner .search--input {
  background: #383567;
  color: white; }

/* line 2, ../sass/_feature-services.scss */
.feature-services {
  padding: 0; }
  @media (min-width: 50em) {
    /* line 2, ../sass/_feature-services.scss */
    .feature-services {
      float: left;
      width: 100%;
      background-color: #383567;
      padding: 0 10%; } }

/* line 11, ../sass/_feature-services.scss */
.feature-service {
  width: 50%;
  float: left;
  margin-bottom: 0;
  display: table;
  min-height: 10em; }
  @media (min-width: 50em) {
    /* line 11, ../sass/_feature-services.scss */
    .feature-service {
      width: 33.33%;
      min-height: 13em; } }
  /* line 21, ../sass/_feature-services.scss */
  .feature-service a {
    display: table-cell;
    color: #d9d9d9;
    min-height: 10em;
    background-color: #383567;
    text-align: center;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    /* line 32, ../sass/_feature-services.scss */
    .feature-service a:hover, .feature-service a:active, .feature-service a:focus {
      background-color: #7b77a0;
      color: white; }
    /* line 36, ../sass/_feature-services.scss */
    .feature-service a:before {
      content: "";
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      display: block;
      margin: 0 auto 1em;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    /* line 47, ../sass/_feature-services.scss */
    .feature-service a:hover:before {
      width: 70px;
      height: 70px; }

/* line 54, ../sass/_feature-services.scss */
.feature-services--coucil-tax:before {
  background-image: url("/css/svg-source/council_tax.svg"); }

/* line 58, ../sass/_feature-services.scss */
.feature-services--citizenship:before {
  background-image: url("/css/svg-source/citizenship_matters.svg"); }

/* line 62, ../sass/_feature-services.scss */
.feature-services--waste-disposal:before {
  background-image: url("/css/svg-source/waste_disposal.svg"); }

/* line 66, ../sass/_feature-services.scss */
.feature-services--licensing:before {
  background-image: url("/css/svg-source/licensing.svg"); }

/* line 70, ../sass/_feature-services.scss */
.feature-services--parking:before {
  background-image: url("/css/svg-source/parking.svg"); }

/* line 74, ../sass/_feature-services.scss */
.feature-services--planning:before {
  background-image: url("/css/svg-source/planning.svg"); }

@media (min-width: 50em) {
  /* line 1, ../sass/_important-information.scss */
  .important-information {
    float: left;
    width: 58%; } }
/* line 6, ../sass/_important-information.scss */
.important-information h2 {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 1.444em;
  text-transform: none;
  padding-bottom: 20px; }
  /* line 36, ../sass/_typography.scss */
  .important-information h2 a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    .important-information h2 a:hover, .important-information h2 a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }
/* line 11, ../sass/_important-information.scss */
.important-information li {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: fill;
  fill: #383567; }
  /* line 17, ../sass/_important-information.scss */
  .important-information li:before {
    content: "";
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
    margin-left: -30px;
    margin-right: 25px; }
/* line 29, ../sass/_important-information.scss */
.important-information a {
  text-transform: uppercase;
  font-weight: 600; }
  /* line 32, ../sass/_important-information.scss */
  .important-information a span {
    font-size: 0.75em;
    font-weight: 300;
    display: block; }
/* line 39, ../sass/_important-information.scss */
.important-information .important-information--for-business:before {
  background-image: url("/css/svg-source/council_services.svg"); }
/* line 42, ../sass/_important-information.scss */
.important-information .important-information--jobs-careers:before {
  background-image: url("/css/svg-source/jobs.svg"); }
/* line 46, ../sass/_important-information.scss */
.important-information .important-information--social-care:before {
  background-image: url("/css/svg-source/social_care.svg"); }
/* line 49, ../sass/_important-information.scss */
.important-information .important-information--startup-investment:before {
  background-image: url("/css/svg-source/startups.svg"); }

/* line 1, ../sass/_news.scss */
.latest-news {
  background-color: #419ab7;
  color: white; }
  @media (min-width: 50em) {
    /* line 1, ../sass/_news.scss */
    .latest-news {
      width: 42%;
      float: left; } }
  /* line 8, ../sass/_news.scss */
  .latest-news h2 {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    margin-bottom: 0.35em;
    line-height: 1.2;
    color: #383567;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.05em;
    line-height: 1.6;
    margin-bottom: 0.75em;
    color: white; }
    /* line 36, ../sass/_typography.scss */
    .latest-news h2 a {
      color: #383567;
      text-decoration: none; }
      /* line 24, ../sass/_typography.scss */
      .latest-news h2 a:hover, .latest-news h2 a:focus {
        color: #1d1b34;
        text-decoration: none;
        border-bottom: 1px dotted #7b77a0; }
  /* line 16, ../sass/_news.scss */
  .latest-news a {
    text-transform: uppercase;
    color: white; }
    /* line 19, ../sass/_news.scss */
    .latest-news a span {
      font-size: 0.75em;
      font-weight: 300;
      display: block; }

/* line 1, ../sass/_events.scss */
.next-events {
  background-color: #419ab7;
  color: white;
  border-top: 1px solid #383567; }
  @media (min-width: 50em) {
    /* line 1, ../sass/_events.scss */
    .next-events {
      border-top: none;
      float: left;
      width: 42%; } }
  /* line 10, ../sass/_events.scss */
  .next-events h2 {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    margin-bottom: 0.35em;
    line-height: 1.2;
    color: #383567;
    font-size: 1em;
    color: white;
    font-weight: 100;
    letter-spacing: 0.05em;
    line-height: 1.6;
    margin-bottom: 0.756em; }
    /* line 36, ../sass/_typography.scss */
    .next-events h2 a {
      color: #383567;
      text-decoration: none; }
      /* line 24, ../sass/_typography.scss */
      .next-events h2 a:hover, .next-events h2 a:focus {
        color: #1d1b34;
        text-decoration: none;
        border-bottom: 1px dotted #7b77a0; }
  /* line 18, ../sass/_events.scss */
  .next-events ol {
    margin-bottom: 2em;
    font-size: 1.1em; }
  /* line 23, ../sass/_events.scss */
  .next-events a {
    color: white;
    display: block;
    padding: 1em 0; }
  /* line 27, ../sass/_events.scss */
  .next-events date {
    display: block;
    float: left;
    width: 50px;
    clear: left;
    text-transform: uppercase; }
    /* line 33, ../sass/_events.scss */
    .next-events date span {
      display: block; }

/* line 39, ../sass/_events.scss */
.next-events--event {
  text-transform: uppercase; }

@media (min-width: 50em) {
  /* line 1, ../sass/_subscribe.scss */
  .subscribe {
    float: left;
    width: 58%; } }
/* line 6, ../sass/_subscribe.scss */
.subscribe h2 {
  text-transform: none; }
/* line 9, ../sass/_subscribe.scss */
.subscribe form {
  margin-top: 1em; }
@media (min-width: 50em) {
  /* line 12, ../sass/_subscribe.scss */
  .subscribe input {
    width: 49%;
    margin-right: 2%;
    float: left; }
    /* line 17, ../sass/_subscribe.scss */
    .subscribe input:last-of-type {
      width: 100%; }
    /* line 18, ../sass/_subscribe.scss */
    .subscribe input:nth-child(even) {
      margin-right: 0; } }
/* line 21, ../sass/_subscribe.scss */
.subscribe button {
  width: 100%; }
  @media (min-width: 50em) {
    /* line 21, ../sass/_subscribe.scss */
    .subscribe button {
      float: right;
      width: inherit;
      padding-left: 2em;
      padding-right: 2em; } }

/* line 1, ../sass/_footer.scss */
.footer-section {
  color: #fff;
  background-color: #22203d; }
  @media (min-width: 50em) {
    /* line 1, ../sass/_footer.scss */
    .footer-section {
      float: left;
      width: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(/images/background.jpg) center bottom no-repeat;
      background-size: cover; } }
  @media (min-width: 50em) {
    /* line 15, ../sass/_footer.scss */
    .footer-section div:nth-child(odd) {
      padding-left: calc(10% - 2em); }
    /* line 18, ../sass/_footer.scss */
    .footer-section div:nth-child(even) {
      padding-right: calc(10% - 2em); } }
  /* line 22, ../sass/_footer.scss */
  .footer-section h2 {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    margin-bottom: 0.35em;
    line-height: 1.2;
    color: #383567;
    font-size: 1.222em;
    color: #fff; }
    /* line 36, ../sass/_typography.scss */
    .footer-section h2 a {
      color: #383567;
      text-decoration: none; }
      /* line 24, ../sass/_typography.scss */
      .footer-section h2 a:hover, .footer-section h2 a:focus {
        color: #1d1b34;
        text-decoration: none;
        border-bottom: 1px dotted #7b77a0; }

/* line 29, ../sass/_footer.scss */
.contact-footer li {
  width: 50%;
  float: left; }

/* line 35, ../sass/_footer.scss */
.contact-footer--phone-number, .contact-footer--fax-number {
  float: right;
  margin-bottom: 0; }

/* line 41, ../sass/_footer.scss */
.footer {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: #383567;
  font-size: 1em;
  font-weight: 300; }
  /* line 36, ../sass/_typography.scss */
  .footer a {
    color: #383567;
    text-decoration: none; }
    /* line 24, ../sass/_typography.scss */
    .footer a:hover, .footer a:focus {
      color: #1d1b34;
      text-decoration: none;
      border-bottom: 1px dotted #7b77a0; }
  /* line 44, ../sass/_footer.scss */
  .footer a {
    color: white; }
    /* line 45, ../sass/_footer.scss */
    .footer a:hover {
      color: white; }
  @media (min-width: 50em) {
    /* line 41, ../sass/_footer.scss */
    .footer {
      clear: left;
      background-color: #22203d; }
      /* line 52, ../sass/_footer.scss */
      .footer li {
        display: inline-block;
        margin-right: 1em; } }

/* line 3, ../sass/_social.scss */
.social li {
  display: inline-block; }

/* line 8, ../sass/_social.scss */
.social--channel {
  text-indent: -99999px; }
  /* line 10, ../sass/_social.scss */
  .social--channel:before {
    content: " ";
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    margin: 0.25em auto; }
  /* line 19, ../sass/_social.scss */
  .social--channel a {
    display: block;
    width: 45px;
    height: 0px;
    text-indent: -9999px;
    margin: 0; }

/* line 29, ../sass/_social.scss */
.facebook:before {
  background-image: url("/css/svg-source/facebook.svg"); }

/* line 33, ../sass/_social.scss */
.twitter:before {
  background-image: url("/css/svg-source/twitter.svg"); }

/* line 37, ../sass/_social.scss */
.vimeo:before {
  background-image: url("/css/svg-source/vimeo.svg"); }

/* line 40, ../sass/_social.scss */
.googleplus:before {
  background-image: url("/css/svg-source/googleplus.svg"); }

/* line 1, ../sass/_article.scss */
.article, .aside {
  padding: 1em 1em 0; }

@media (min-width: 50em) {
  /* line 6, ../sass/_article.scss */
  .article {
    float: left;
    width: 58%;
    padding-left: 10%; } }

@media (min-width: 50em) {
  /* line 15, ../sass/_article.scss */
  .aside {
    float: left;
    width: 42%;
    padding-right: 10%; } }
/* line 21, ../sass/_article.scss */
.aside h2 {
  text-transform: uppercase; }

/* line 27, ../sass/_article.scss */
.inner .content {
  float: left;
  width: 100%;
  display: flex; }

/* line 35, ../sass/_article.scss */
.breadcrumbs li {
  float: left;
  margin-right: 0.25em; }
  /* line 38, ../sass/_article.scss */
  .breadcrumbs li a {
    text-transform: uppercase; }
  /* line 41, ../sass/_article.scss */
  .breadcrumbs li:after {
    content: " / "; }
  /* line 44, ../sass/_article.scss */
  .breadcrumbs li:last-of-type:after {
    content: ""; }
/* line 48, ../sass/_article.scss */
.breadcrumbs + h1 {
  clear: left; }
