.next-events {
	background-color: $secondary-color;
	color: $white;
	border-top: 1px solid $primary-color;
	@include breakpoint(tablet){
		border-top: none;
		float:left;
		width: 42%;
	}
	h2 { 
		@include heading-6;
		color: $white;
		font-weight: 100;
		letter-spacing: 0.05em;
		line-height:1.6;
		margin-bottom:0.756em;
	}
	ol {
		margin-bottom: 2em;
		font-size: 1.1em;

	}
	a {color: $white;
		display: block;
		padding: 1em 0;
	}
	date {
		display: block;
		float:left;
		width: 50px;
		clear:left;
		text-transform: uppercase;
		span {
			display:block;
		}
	}
}

.next-events--event {
	text-transform: uppercase;
}