
.feature-services {
	padding-left: 0;
	padding-right: 0;
}
.feature-service {
	width: 50%;
	float:left;

	a{
	display: flex;
  	align-items: center;
  	justify-content: center;
	color: $white;
	min-height: 10em;
	background-color:$primary-color;	
	text-align: center;
	vertical-align: middle;//
	border: 1px solid $primary-color-light;
	&:hover, &:active, &:focus  {background-color:$primary-color-light;}
	}
}