.footer-section {
	color: #fff;
	background-color: $primary-color-dark;
		@include breakpoint(tablet){
		float:left;
		width: 100%;
		background: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
        ),
        url(/images/background.jpg) center bottom no-repeat;
		background-size: cover;
	}
	@include breakpoint(tablet){
		& div:nth-child(odd){
			padding-left:calc(10% - 2em);
		}
		& div:nth-child(even){
			padding-right: calc(10% - 2em);
		}
	}
	h2 {
		@include heading-4;
		color: #fff;
	}
}

.contact-footer {
	li {
		width: 50%;
		float:left;
	}
}

.contact-footer--phone-number, .contact-footer--fax-number {
		float:right;
		margin-bottom: 0;
	}


.footer {
	@include heading-6;
	font-weight: 300;
	a { color: $white;
		&:hover {
			color: $white;
		}
	}
	@include breakpoint(tablet){
	clear:left;
	background-color: $primary-color-dark;
		li {display:inline-block; margin-right:1em;}
	}
}
