form {

}


input {
	width: 100%;
	padding:0.5em 0;
	border:none;
	text-align: center;
	font-size: 1.2em;
	border: 1px solid $primary-color;
	margin: 0.25em 0;
}

button, .button {
	@include heading-6;
	display:block;
	line-height:1.6;
	padding:1em 0.5em;
	background-color: $primary-color;
	width: 100%;
	border:none;
	color:$white;
	text-transform:uppercase;
	text-align: center;
	font-weight: 400;
	&:hover, &:active, &:focus {
		background-color: $primary-color-light;
	}
	@include breakpoint(tablet){
		width:inherit;
		padding: 1em 1em;
	}
}