.important-information {
	@include breakpoint(tablet){
		float:left;
		width: 58%;
	}
	h2 {
		@include heading-3;
		text-transform: none;
		padding-bottom: 20px;
		}
	li {
		padding-left: 25px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: fill;
		fill: $primary-color;
		&:before {
			content: "";
			width: 25px;
			height: 25px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100%;
			float: left;
			margin-left: -30px;
			margin-right: 5px;
		}
	}
	a {text-transform: uppercase;
		font-weight: 600;

		span {
			font-size: 0.75em;
			font-weight: 300;
			display: block;
		}
	}

	.important-information--for-business:before {
		background-image: url("/css/svg-source/council_services.svg");
			}
	.important-information--jobs-careers:before {
		background-image: url("/css/svg-source/jobs.svg");

	}
	.important-information--social-care:before {
		background-image: url("/css/svg-source/social_care.svg");
	}
	.important-information--startup-investment:before {
		background-image: url("/css/svg-source/startups.svg");

	}

}