.latest-news {
	background-color: $secondary-color;
	color:$white;
	@include breakpoint(tablet){
		width:42%;
		float:left;
	}
	h2 {
		@include heading-6;
		font-weight: 100;
		letter-spacing: 0.05em;
		line-height:1.6;
		margin-bottom:0.75em;
		color: $white;
	}
	a {text-transform: uppercase;
		color: $white;

		span {
			font-size: 0.75em;
			font-weight: 300;
			display: block;
		}
	}
}