/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "globals";
@import "typography";
@import "grid";
@import "forms";

* {box-sizing:border-box;}

body {
	font-size: 100%;
	line-height: 1.5;
}

a {
	color:$primary-color;
	text-decoration: none;
}

li {
	margin-bottom: 0.75em;
}


.visibility-hidden {
	visibility: hidden;
	line-height: 0;
	margin: 0;
}

.wrapper {
	 margin: 0 auto;
}
.header {
	@include breakpoint(tablet){
		min-height: 120px;
	}
	}
.logo {
	width: 10em;
	margin: 1em auto;
	display: block;

}

.navigation-main {
	background-color: $primary-color-light;
	@include breakpoint(tablet){
		margin: 0 10%;
		position: relative;
		top:-2em;
	}

		li {
			margin-bottom: 0;
			@include breakpoint(tablet){
				float:left;
				width: 16.6666667%;
			}
		}
		a { 
			color:$white;
			background-color: $primary-color-light;
			text-align: center;
			display:block;
			line-height: 1.6em;
			padding: 1em 0;
			border-bottom: 1px solid;
			text-transform: uppercase;
			@include breakpoint(tablet){
				font-size: 0.875em;
				color: #fff;
				border-bottom:none;
			}
		&:hover, &:active, &:focus{
			background-color:$primary-color;
		}
		}
}

.targeted-content, .feature-services { 
	padding: 0 10%;
}

.targeted-content {
	@include breakpoint(tablet){
		min-height: 245px;
		background: url("/images/background.jpg") no-repeat center center;
		background-size: cover;
	}
}

section, footer { 
	padding: 1em 1em;
	@include breakpoint(tablet){
		padding: 2em;
	}
}

.home-boxed-layout {
	@include breakpoint(tablet){
	section:nth-child(2n+1) {
		clear:left;
	}
	section:nth-child(odd){padding-left: 10%}
	section:nth-child(even){padding-right: 10%}
	}
}

@import "search";

@import "feature-services";
@import "important-information";
@import "news";
@import "events";
@import "subscribe";
@import "footer";
@import "social";
@import "article";
