/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "globals";
@import "typography";
@import "grid";
@import "forms";

* {box-sizing:border-box;}

body {
	font-size: 16px;
	line-height: 1.2em;
}

a {
	color:$primary-color;
	text-decoration: none;
}

li {
	margin-bottom: 0.75em;
}


.visibility-hidden {
	visibility: hidden;
}

.logo {
	width: 10em;
	margin: 1em auto;
	display: block;
}

.navigation-main {
	background-color: $primary-color-light;
		li {
			margin-bottom: 0;
		}
		a { 
			color:$white;
			text-align: center;
			display:block;
			line-height: 1.6em;
			padding: 1em 0;
			border-bottom: 1px solid;
		&:hover, &:active, &:focus{
			background-color:$primary-color;
		}
		}
}

.targeted-content {
}

section, footer { padding: 1em 1em; max-width: 64em; margin: 0 auto;}

@import "search";

@import "feature-services";
@import "important-information";
@import "news";
@import "events";
@import "subscribe";
@import "contact";
@import "social";

